In [6]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_superhero_films'
df = pd.read_html(url)
print(len(df))
df[0].head()

76

,Rank,Film,Worldwide gross,Year,Superhero(es),Source,Ref
0,1,Avengers: Endgame,"$2,799,439,100",2019,Avengers,Marvel,[1]
1,2,Avengers: Infinity War,"$2,048,359,754",2018,Avengers,Marvel,[2]
2,3,Spider-Man: No Way Home,"$1,926,899,310",2021,Spider-Man,Marvel,[3]
3,4,The Avengers,"$1,518,812,988",2012,Avengers,Marvel,[4]
4,5,Avengers: Age of Ultron,"$1,402,809,540",2015,Avengers,Marvel,[5]

In [7]:
movies_df = df[0].copy().drop(['Ref','Superhero(es)','Rank'],axis=1)
movies_df['Worldwide gross'] = movies_df['Worldwide gross'] \
                       .apply(lambda x: ''.join(filter(str.isdigit, x)))
movies_df['Worldwide gross'] = (movies_df['Worldwide gross'] \
                       .astype('int') / 1_000_000).round(2)
movies_df.columns = ['Name', 'Revenue', 'Year', 'Universe']
print(movies_df.shape)
movies_df.head()

(50, 4)

                      Name  Revenue  Year Universe
0        Avengers: Endgame  2799.44  2019   Marvel
1   Avengers: Infinity War  2048.36  2018   Marvel
2  Spider-Man: No Way Home  1926.90  2021   Marvel
3             The Avengers  1518.81  2012   Marvel
4  Avengers: Age of Ultron  1402.81  2015   Marvel

In [8]:
movies_df.to_csv('Movie.csv',index=False)

In [ ]:
import sqlite3

## Connect to SQlite
connection=sqlite3.connect("movie.db")

movies_df.to_sql('Movie',connection)

50